<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="is-flex is-flex-direction-column">
      <div class="is-flex is-flex-direction-row is-align-items-center">
        <span class="icon has-text-link-dark">
          <i class="fas fa-2x fa-dice-d6 is-info"></i>
        </span>
        <p class="is-size-3 pl-2">
          IceKube Events
        </p>
      </div>
      <p class="is-size-10 is-italic">
        the best events in town, how could you pass these up?
      </p>
    </div>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-link">
            <strong>
              sign up
            </strong>
          </a>
          <a class="button is-light">
            log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>