* {
  font-family: 'Overpass', sans-serif;
}

.rounded-input {
  border-radius: 5px !important;
}

.event-container {
  padding: 0;
}

.flex {
  flex: 1 1 auto;
}

.event-footer {
  min-height: 40px;
  max-height: 30px;
}

.likes {
  margin: 0 !important;
}
