<div class="columns is-mobile is-multiline is-flex-grow-1">
  {{#events}}
    <div class="column is-one-third">
      <article class="box" style="background-color:{{color}}">
        <p class="title has-text-white-ter">
          {{title}}
        </p>
        <p class="subtitle has-text-white-ter">
          {{description}}
        </p>
      </article>
    </div>
  {{/events}}
</div>